<body>
  <input name='name' placeholder='change name' [(ngModel)]="name">
  <br>
  <input name='userName' placeholder='change user name' [(ngModel)]="userName">
  <br>
  <input name='email' placeholder='change email' [(ngModel)]="email">
  <br>
  <input name='password' placeholder='change password' type='password' [(ngModel)]="password">
  <br>
  <input name='profilePic' placeholder='change picture' [(ngModel)]="profilePicture">
  <br>
  <h5>Save changes?</h5>
  <button md-raised-button mat-dialog-close="yes" (click)="onYesClick()">Yes</button>
  <button md-raised-button mat-dialog-close="no">No</button>
</body>
