<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-md-4 bg-white ">
      <div class=" row border-bottom padding-sm" style="height: 40px;">
        Channels
      </div>

      <!-- =============================================================== -->
      <!-- member list -->
      <ul class="friend-list">
        <li class="active bounceInDown" *ngFor="let channel of channels" [class.selected]="channel === selectedChannel"
            (click)="onClick(channel)">
          <a class="clearfix">
            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
            <div class="friend-name">
              <strong>{{channel.name}}</strong>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <!--=========================================================-->
    <!-- selected chat -->
    <main class="chat">
      <div class="container">
        <div class="chat-content">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let message of selectedChannel.messages">
                <strong>Ryan: </strong>
                <span>{{message.messageBody}}</span>
              </li>
              <li class="list-group-item" *ngFor="let chatMessage of websocketService.chatMessages">
                <strong>Ryan: </strong>
                <span>{{chatMessage.messageBody}}</span>
              </li>
            </ul>
          </div>
        </div>
        <form (ngSubmit)="sendMessage(sendForm)" (keydown.enter)="sendMessage(sendForm)" #sendForm="ngForm">
          <div class="chat-send row">
            <div class="col-2">
<!--              <input type="text" class="form-control" name="user" id="input-user" ngModel="">-->
            </div>
            <div class="col-8">
              <input type="text" class="form-control" name="messageBody" id="input-message" ngModel>
            </div>
            <div class="col-2">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
