<div class="channel-main">
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">{{user.name}}</a></li>
      <li class="breadcrumb-item"><a routerLink="/profile">{{user.userName}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{this.selectedChannel.name}}</li>
    </ol>
  </nav>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
<!--  <button class="btn btn-success no-rounded" routerLink="/profile">GO BACK TO PROFILE</button>-->
  <div class="row">
    <div class="col-md-4 bg-white ">
      <div class=" title row border-bottom padding-sm" style="height: 40px; text-align: center">
        CHANNELS
      </div>

      <!-- =============================================================== -->
      <!-- channel list -->
      <ul class="friend-list">
        <li class="active bounceInDown" *ngFor="let channel of user.channelList" [class.selected]="channel === selectedChannel"
            (click)="onClick(channel)">
          <a class="clearfix">
            <img src="{{channel.logo}}" alt="" class="img-circle">
            <div class="friend-name">
              <strong>{{channel.name}}</strong>
            </div>
          </a>
        </li>
      </ul>
    </div>



<!--    =========================================================-->
<!--     selected chat -->


  <div class="col-md-8 bg-white ">
    <div class="chat-message" style="overflow: scroll; height: xyz;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <ol class="chat">
        <li class="left clearfix" *ngFor="let message of this.selectedChannel.messages">
                    	<span class="chat-img pull-left">
                    		<img src="{{message.senderPic}}" alt="User Avatar">
                    	</span>
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font">{{message.senderUserName}}</strong>
              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>{{message.timeStamp}}</small>
            </div>
            <p>
              {{message.messageBody}}
            </p>
          </div>
        </li>
        <li class="left clearfix" *ngFor="let chatMessages of websocketService.chatMessages">
                    	<span class="chat-img pull-left">
                    		<img src="{{chatMessages.senderPic}}" alt="User Avatar">
                    	</span>
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font">{{chatMessages.senderUserName}}</strong>
              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{chatMessages.timeStamp}}</small>
            </div>
            <p>
              {{chatMessages.messageBody}}
            </p>
          </div>
        </li>
      </ol>
    </div>
    <div class="chat-box bg-white">
      <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
        <div class="input-group">
          <input class="form-control border no-shadow no-rounded" type="text" name="messageBody" placeholder="Type your message here" ngModel>
          <span class="input-group-btn">
                    <button class="btn btn-success no-rounded" type="submit">Send</button>
                  </span>
        </div><!-- /input-group -->
      </form>
    </div>
  </div>
<!--    <button (click)="testlog()">TEST BUTTON</button>-->
</div>
</div>
</div>
