html,
body,
#background {
  width: 98vw;
  min-height: 97vh;
  background-color: #4F5F76;
}

div::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: #0F2862;        /* color of the tracking area */
  border-radius: 6px;
}

div::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom right, #9E363A, #091F36);
  /*background-color: #091F36;    *//* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /*border: 1px solid #9E363A;*/  /* creates padding around scroll thumb */
}

.container {
  height: 90vh;
  display: grid;
  margin: 10px;
  grid-template: 100fr / 20fr 70fr 10fr;
  justify-items: stretch;
  align-items: stretch;
  grid-gap: 10px;
}

.box {
  background-color: #EBECF0;
  border-radius: 6px;
  font-family: "Noto Sans Adlam";
  overflow: auto;
}

.current-channel {
  display: grid;
  grid-template: 80fr 20fr/ 100fr;
}

.chat-box {
  overflow: auto;
}

.new-message {
  height: 200px;
  display: grid;
  grid-template: minmax(300px, 25fr)/ 80fr 20fr;
  position: sticky;
}
