body{
  height: 100vh;
  width: 100vw;
}

.container {
  height: 90vh;
  display: grid;
  grid-template: minmax(300px, 50fr) minmax(300px, 50fr) /300px 50fr 50fr;
  grid-template-areas:
  "profile channels channels"
  "settings dm dm";
  justify-items: stretch;
  align-items: stretch;
  row-gap: 10px;
  column-gap: 10px;
}

img {
  width: 80%;
  height: 80%;
}
.picHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.columnHolder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.box {
  font-size: 24pt;
  background-color: dodgerblue;
  border: 3px solid darkgrey;
  border-radius: 15px;
}

.pic{

}

.channels {
  grid-area: channels;

}

.dm{
  grid-area: dm;
}

.channelDmButton {
  height: 100px;
  width: 100px;
  background-color: #4F5F76;
  border-radius: 50%;
  margin: 10px;
  z-index: 2;
}


