<body>
<h1> YOUR PROFILE</h1>
<div class="container">

  <div class="box picHolder">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png">
  </div>

  <div class="box rowHolder channels ">
    <ul>
      <button [routerLink]="['/channel', channel.id]" class="channelDmButton"
              *ngFor="let channel of user.channelList">
        {{channel.name}}
      </button>
    </ul>
  </div>

  <div class="box columnHolder">
    <button class="channelDmButton">ADD CHANNEL</button>
  </div>

  <div class="box columnHolder">
    <form>
      <label class="setting">user name:</label><br>
      <input class="setting" type="text"><br>
      <label class="setting">email:</label><br>
      <input class="setting" type="email"><br>
      <label class="setting">new password:</label><br>
      <input class="setting" type="password"><br>
      <label class="setting longlabel">confirm new password:</label><br>
      <input class="setting" type="password"><br>
    </form>
  </div>

  <div class="box dm rowHolder">
    <button routerLink="/channel" class="channelDmButton"
            *ngFor="let message of user.directMessages">
      GAMMA
    </button>
  </div>

  <div class="box columnHolder">
    <button class="channelDmButton">NEW MEASSAGE</button>
  </div>

</div>
</body>
