<body>
<h1> YOUR PROFILE</h1>
<div class="container">

  <div class="box picHolder">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png">
  </div>

  <div class="box rowHolder channels ">
    <button class="channelDmButton">Interview Prep</button>
    <button class="channelDmButton">No Mention Of Tech</button>
    <button class="channelDmButton">ripl</button>
    <button class="channelDmButton">Zip Code</button>
    <button class="channelDmButton">Onepiece</button>
    <button class="channelDmButton">Demonslayer</button>
    <button class="channelDmButton">opm</button>
    <button class="channelDmButton">How I Learned To Stop Worrying and Love The Bomb</button>
  </div>

  <div class="box columnHolder">
    <form>
      <label class="setting">user name:</label><br>
      <input  class="setting" type="text"><br>
      <label class="setting">email:</label><br>
      <input  class="setting" type="email"><br>
      <label class="setting">new password:</label><br>
      <input  class="setting" type="password"><br>
      <label class="setting longlabel">confirm new password:</label><br>
      <input  class="setting" type="password"><br>
    </form>
  </div>

  <div class="box dm rowHolder">
    <button class="channelDmButton">Kelly Porter</button>
    <button class="channelDmButton">Xiong Yuan</button>
    <button class="channelDmButton">Ryan Hufford</button>
    <button class="channelDmButton">Ben DuPont</button>
    <button class="channelDmButton">Jorge Tapia</button>
    <button class="channelDmButton">Desa Burton</button>
    <button class="channelDmButton">Kris Younger</button>
    <button class="channelDmButton">gerg</button>
    <button class="channelDmButton">Lossie Freeman</button>
  </div>

</div>
</body>
